.top {
  &-section {
    text-align: center;
    overflow: hidden;
    background-color: rgba($color-grey-light-1, 0.85);
    padding: 10rem;
  }
  &_box {
    text-align: start;
    box-shadow: $shadow2;
  }
  &_image {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }
  &_name {
    font-size: 3rem;
  }
  &_location {
    font-size: 1.5rem;
  }
}
