// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-white: #fff;
$color-black: #000;

$color-grey-lt-1: #f7f7f7;
$color-grey-lt-2: #aaa;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-good: #28b485;
$color-bad: #ff7730;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//BOX SHADOW
$shadow: 0 1rem 3rem rgba($color-black, 0.1);
$shadow2: 0 1.5rem 4rem rgba($color-black, 0.15);

//FONT SIZE
$default-font-size: 1.6rem;

//RESPONSIVE BREAKPOINT
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 25em; // 400px

$bronze: #cd7f32;
$silver: #c0c0c0;
$diamond: #b9f2ff;
$gold: #ffd700;
$platinum: #e5e4e2;
